html{
    background: url("../resources/arcade.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {text-align: center;}

form {text-align: center;}

p {text-align: center;}


body{
    margin: 0px;
    height: 100%;
    overflow: hidden;
}