

#wrapper{
    overflow: hidden;
    height:31px;
    display: flex;
    background-color: #219ebc;
}

#fist{
    float:left;
    width: 400px;
    margin-right: auto;
    margin-left: 0%;
}

#second{
    width: 400px;
    margin-left: auto;
    margin-right: -100px;
}
  
a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 12px;
    font-family: Verdana;    
    font-weight: bold;
}

a:hover {
    background-color:rgb(117, 206, 222);
    color: black;
}

a.active {
    background-color:rgb(117, 206, 222);
}
