#main{
    background-image: url('resources/arcade.jpg');
    opacity: 0.6;
    position: absolute;
    top:31px;right: 0; bottom: 0; left: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

body{
    margin: 0px;
    height: 100%;
    overflow: hidden;
}